.road{
    -fx-max-width: 2000px;
    -fx-pref-height: 60px;
    -fx-border-style: dashed;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #2980b9;
    -fx-background-color: #2980b9;
}
#firstTopRoad.road, #endBottomRoad.road{
    -fx-background-color: white;
}
#wall{
    -fx-background-color: black;
    -fx-pref-height: 20px;
    -fx-border-width: 0 0 0 0;
}