.title{
    -fx-font-size: 30px;
}
.button{
    -fx-border-width: 0px;
    -fx-cursor: hand;
    -fx-background-color: #eee;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}
.button:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 0);
    -fx-background-color: #e9e9e9;
}
.button:armed{
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}